/**
* Setting the padding-top to 100% is used to generate a perfect
* square based on the row width. 
*/
.color-swatch {
	padding-top: 100%;
	border-radius: 10px;
	cursor: pointer;
}

.color-swatch:hover {
	filter: brightness(80%);
}


.color-value {
	font-size: 180%
}

.color-info {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #000000;
	opacity: .8;
}

/**
* Lighten the text if the color being displayed is dark.
*/
.color-info.darkColor {
	color: #FFFFFF;
}

.delete {
	position: absolute;
	top: 0;
	right: 0;
	padding-top: 25px;
	padding-right: 25px;
	cursor: pointer;
	font-size: 1.5em;
}

/**
* Only display the delete icon if the user hovers over the color.
*/
.color-info .delete {
	opacity: 0;
}

.color-info:hover .delete {
	opacity: 1;
}
