/** Setting the padding-top to 100% is used to generate a perfect square based on the row width. */
.color-swatch {
	padding-top: 100%;
	border-radius: 10px;
	cursor: pointer;
}

.color-swatch:hover {
	filter: brightness(80%);
}

.delete {
	position: absolute;
	top: 0;
	right: 0;
	padding-top: 25px;
	padding-right: 25px;
	cursor: pointer;
	font-size: 1.5em;
}

.color-value {
	font-size: 2em;
}

.color-info {
	position: absolute;
	top: 0;
	left: 0;
	text-align: center;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #1F2D3D;
	opacity: .5;
}

.color-info .delete {
	opacity: 0;
}

.color-info:hover .delete {
	opacity: 1;
}

.color-info.darkColor {
	color: #FFFFFF;
}
