:host { 
	display: inline-block;
	margin: 7px;
}

.color-swatch {
	height: 100px;
	width: 100px;
	border-radius: 7px;
	cursor: pointer;
}

.delete {
	padding-top: 2px;
	float: right;
	cursor: pointer;
}

.color-value {
	float: left;
	padding-top: 2px;
}