<div class="row toolbar">
  <div class="col-lg-2 col-md-3 col-sm-3 col-xs-7">
    <div class="input-group addButtonGrp">
      <span class="input-group-addon">#</span>
      <input type="text" class="form-control" placeholder="hex code" maxlength="6"
        [ngModel]="hexString" (ngModelChange)="onHexStringChange($event)">
      <span class="input-group-btn">
        <button class="btn btn-success" type="button"
         (click)="onAddClicked()">Add</button>
      </span>
    </div>
  </div>

  <div class="col-lg-1 col-md-1 col-sm-2 col-xs-2">
    <button class="btn btn-danger" (click)="onClearClicked()">Clear All</button>
  </div>

  <div class="col-lg-2 col-md-2 col-sm-4 col-xs-6">
    <div class="input-group">
      <select class="form-control" [(ngModel)]="rainbowSteps">
        <option>10</option>
        <option>20</option>
        <option>30</option>
        <option>40</option>
        <option>50</option>
        <option>60</option>
        <option>70</option>
        <option>80</option>
        <option>90</option>
        <option>100</option>
      </select>
      <span class="input-group-btn">
        <button class="btn btn-info" type="button" (click)="onRainbowClicked()">Rainbow</button>
      </span>
    </div>
  </div>

</div>