<div class="row">

  <div class="col-lg-2">
    <div class="input-group">
      <input type="text" class="form-control" placeholder="hex code" maxlength="7"
        [ngModel]="hexString" (ngModelChange)="onHexStringChange($event)">
      <span class="input-group-btn">
        <button class="btn btn-success" type="button"
         (click)="onAddClicked()">Add</button>
      </span>
    </div>
  </div>

  <button class="btn tintButton">Tint</button>
  <button class="btn shadeButton">Shade</button>

</div>
