:host {
    text-align: center;
}

/**
    Hardcode the height of the header so it is easy to determine
    how to fix the header to the top. Also vertically and horizontally
    center the contents.
*/
.custom-jumbotron {
    height: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hexValue,
.rgbValue,
.tint,
.shade {
    opacity: .8;
}


.darkColor {
    color: white;
}

.tint,
.shade {
    font-size: 3em;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

/** Force all bootstrap columns to have the same height. */
.row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
}
.row > [class*='col-'] {
  display: flex;
  flex-direction: column;
}

.hexValue {
    margin: 0px 15px;
}